
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wadson Fleurigene - MIA PT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/master.css">
  </head>
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Wadson - MIA PT</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class=""><a href="/">Home</a></li>
              <li class="active"><a href="/about">About</a></li>
              <li class=""><a href="/gallery">Gallery</a></li>
            </ul>
          </div> <!--/.nav-collapse -->
        </div> <!--/.container -->
      </nav>
      <div class="container">
        <!-- <div class="center-me"> -->
          <h1>About</h1>
          <p class="lead">Rihanna was born in <strong>Febuary 20, 1988</strong> and has been singing all her life.<br><br>
            <img src='/images/fact1.jpg' alt='Picture of young Rihanna'><br><br>

          <ul>
            <li><p class="lead">Her singing didn't start sooner because of her crack head father.</p>
              <img src="/images/fact2.jpg" alt="A girl and her family in a picture."></li><br><br>
            <li><p class="lead">She was heard about a producer who was vacationing in Barbados.<br>
            When they met, he fell in love with her talent. She moved back with them. He then<br>
            introduced her to Jay-Z who signed her on.</p>
              <img src="/images/fact3.jpg" alt="A girl and a famous Illuminati leader."></li><br><br>


            <li><p class="lead">Her first hit, "Umbrella" was so popular, she banned fans from bringing Umbrellas to her shows.<br>
            She was scared they would hurt themselves trying to perform the moves in her song.</p>
              <img src="/images/fact5.jpg" alt="A girl holding a large umbrella."></li><br><br>

            <li><p class="lead">In 2007, she won an award for her legs. She insured them for <strong>1 Million</strong> right after.</p>
              <img src="/images/fact6.jpg" alt="A girl posing with Beautiful legs">
          </ul>
        <!-- </div> -->
      </div> <!-- /.container -->


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </body>
</html>
